body {
    display: inline-flex;
    color: blue;
}

#id {
    width: fit-content;
}

#canvas {
    display: block;
}

.marker{
    position: absolute;
    width: 15px;
    height: 15px;
    background: #8a2323;
    text-align: center;
    font-size: 13px;
    color: aqua;
}

.mark_selected {
    background: #534db3;
}

.selected {
    background-color: pink;
}

.input{
    width: 50px;
}